<%- include header.ejs %>
<div class="col-md-12">
    <div class="col-md-3">
        <h1>welcome <%= (user && user.username) ? user.username : '' %>!</h1>
        <p>You have the following roles:</p>
        <ul>
            <% user.roles.forEach(function(role) { %>
            <li>
                <%= role %>
            </li>
            <% }); %>
        </ul>
    </div>
</div>
<%- include footer.ejs %>