</div>
<div class="container">
    <div class="row">
        <footer>
            <p>footer.</p>
        </footer>
    </div>
</div>
</div>

<script src="/javascripts/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>