<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" crossorigin="">
</head>
<body>
<div class="container">
	<div class="row">
		<nav>
			<a href="/">Home</a> |
			<a href="/items">Items</a>
		</nav>