<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<div class="row">
		<nav>
			<a href="/users">users</a>
		</nav>