<%- include header.ejs %>
<h1><%= (typeof header1 !== 'undefined') ? header1 : 'No default header' %></h1>
<p><%= (typeof desc !== 'undefined') ? desc : 'No default desc' %></p>
<%- include footer.ejs %>