<div class="col-md-6 col-md-offset-3">
    <div class="alert alert-danger error error-msg none"></div>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#register">Register</a></li>
        <li><a data-toggle="tab" href="#login">Login</a></li>
    </ul>

    <div class="tab-content">
        <div id="register" class="tab-pane fade in active">
            {{> register }}
        </div>
        <div id="login" class="tab-pane fade">
            {{> login }}
        </div>
    </div>
</div>